// abstracts
@import './abstracts/variables';
@import './abstracts/mixins';

//base
@import './base/reset';
@import './base/preset';

//layout
@import './layout/header';
@import './layout/footer';

//pages
@import './pages/home';

.btn-common{
  position: relative;
    
  overflow: hidden;
  width: 40px;  
  height: 40px;
  border-radius: 50%;
  border: 1px solid transparent;

  transition: background 0.5s, border 0.6s 0.2s;
  &:active{
    border: 1px solid #ddd;
    background: #eee;
    transition: background 0s, border 0s 0s;
  }

  &::after{
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center;

    @include pos-center;
  }
}

.header{
  display: flex; 
  align-items: center;

  position: fixed;
  top: 0;
  width: 100%;
  height: 56px;  

  background: #fff;
  z-index: 30;

  &_inr{
    display: flex; 
    flex: 1;
    justify-content: space-between;
    align-items: center;

    padding-right: 16px;    
  }
}

.btn-gnb_toggle{
  flex: 0 0 40px;
  width: 40px;  
  height: 40px;
  margin: 0 16px;

  &::after{
    background-image: url(../images/ico/menu.png);
    background-size: 18px auto;
  }
}

.logo{
  margin-left: -16px;
  &_link{
    display: block;
    padding: 18px 14px 18px 16px;
    &::after{
      content: '';
      display: block;
      width: 90px;
      height: 20px;
      background: url(../images/logo/logo.png) no-repeat center / 90px auto;
    }
  }
}

.search{
  display: flex;
  align-items: center;
  flex: 1;
  width: 100%;
  max-width: 685px;
  margin-left: 30px;

  @include tablet{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    height: 56px;
    padding: 0 8px;
    margin-left: 0;
    background: #fff;

    z-index: 50;
  }
  
  &_inr{
    flex: 1;
    position: relative;    
    padding: 0 64px 0 40px;

    @include tablet{
      margin-left: 47px;
    }
  }

  &_label{
    pointer-events: none;
    opacity: 0;
    position: absolute;
    top: 0; left: 0px;
    width: 41px;
    height: 40px;
    border: 1px solid #c6c6c6;
    border-right: none;
    border-radius: 2px 0 0 2px;
    background: #fff url(../images/ico/search.png) no-repeat center / 17px auto;

    z-index: 10;
  }
  &_input-box{
    position: relative;
    height: 40px;
    padding: 8px 55px 8px 6px; 
    border: 1px solid #c6c6c6;
    border-radius: 2px 0 0 2px;
  }
  &_input{
    width: 100%;
    max-width: 470px;
    height: 100%;
    outline: none;

    color: #030303;
    font-size: 16px;
    line-height: 24px;

    &::placeholder{
      color: #606060;
    }
  }

  &_btn-box{
    display: flex;
    align-items: center;

    position: absolute;
    top: -1px;    
    right: 0;
  }

  &_btn-keyboard{
    &::after{
      content: '';
      display: block;
      width: 19px;
      height: 11px;
      background: url(../images/ico/ico_keyboard.png) no-repeat;
    }

    &:hover{
      &::after{
        background-image: url(../images/ico/ico_keyboard-hover.gif);
      }
    }

  }

  &_btn-reset{
    margin-left: 0;
    &::after{
      background-image: url(../images/ico/close.png);
      background-size: 12px auto;
    }
  }

  &_submit{
    position: absolute;
    top: 0;
    right: 0;

    width: 64px;
    height: 40px;
    background: #f8f8f8;
    border: 1px solid #c6c6c6;
    border-left: none;
    border-radius: 0 2px 2px 0;

    transition: 0.2s;

    &:hover{
      background: #f0f0f0;
      border-color: #c6c6c6;
    }

    &:active{
      background: #eee;
    }

    &::after{
      content: '';
      @include pos-center;
      width: 24px;
      height: 24px;
      background: url(../images/ico/search.png) no-repeat center / 17px auto;      
    }
  }

  &_btn-mike{
    margin-left: 8px;
    &::after{
      background-image: url(../images/ico/mike.png);
      background-size: 13px auto;
    }

    @include mobile{
      display: none;
    }
  }

  &_btn-close{
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 8px;
    margin-left: 0;
    
    &::after{
      background-image: url(../images/ico/back.png);
      background-size: 17px auto;
    }

    @include tablet{
      display: block;
    }
  }
}

.utils{
  display: flex;
  justify-content: center;
  align-items: center;
  

  &_btn{
    margin-left: 8px;
    &.ico-search{
      display: none;
      &::after{
        background-image: url(../images/ico/search.png);
        background-size: 19px auto;
      }

      @include tablet{
        display: block;
      }
    } 

    &.ico-mike{
      display: none;
      &::after{
        background-image: url(../images/ico/mike.png);
        background-size: auto 18px;
      }

      @include tablet{
        display: block;
      }
    } 

    &.ico-make{
      &::after{
        background-image: url(../images/ico/make.png);
        background-size: 20px auto;
      }
    } 
    &.ico-app{
      &::after{
        background-image: url(../images/ico/app.png);
        background-size: 17px auto;
      }
    } 
    &.ico-alarm{
      &::after{
        background-image: url(../images/ico/alarm.png);
        background-size: 16px auto;
      }
    } 
  }

  &_btn-profile{
    overflow: hidden;
    position: relative;
    width: 32px;
    height: 32px;  
    border-radius: 50%;
    margin: 0 8px 0 24px;

    img{
      @include pos-center;
      width: 100%;
    }
  }   
}



.gnb{
  position: fixed;
  top: 0;
  left: 0;
  width: 72px;
  height: 100%;
  padding-top: 57px;
  background: #fff;
  
  z-index: 20;

  @include tablet{
    display: none;
  }

  &_link{
    display: block;
    padding: 16px 0;

    color: #030303;
    font-size: 10px;
    text-align: center;

    &:hover{
      background: rgba(0, 0, 0, 0.05);
    }



    &::before{
      content: '';
      display: block;
      width: 24px;
      height: 24px;
      margin: 0 auto 6px;

      background-repeat: no-repeat;
      background-position: center;
    }

    &.ico-home{
      &::before{
        background-image: url(../images/ico/home.png);
        background-size: auto 18px;
      }
    }
    &.ico-quest{
      &::before{
        background-image: url(../images/ico/quest.png);
        background-size: 20px auto;
      }
    }

    &.ico-shorts{
      &::before{
        background-image: url(../images/ico/shorts.png);
        background-size: 16px auto;
      }
    }

    &.ico-subscribe{
      &::before{
        background-image: url(../images/ico/subscribe.png);
        background-size: 20px auto;
      }
    }

    &.ico-keep{
      &::before{
        background-image: url(../images/ico/keep.png);
        background-size: 18px auto;
      }
    }
  }
}

.main{
  margin-top: 112px;
  margin-left: 72px;

  @include tablet{
    margin-left: 0;
  }
}

.cate{
  position: fixed;
  top: 56px;
  left: 0;

  width: 100%;
  height: 58px;
  padding-left: 72px;
  background: #fff;
  border-top: 1px solid rgba(0,0,0,.1);
  border-bottom: 1px solid rgba(0,0,0,.1);
  z-index: 10;

  @include tablet{
    padding-left: 0;
  }  

  &_slide{
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    height: 100%;
    padding: 0 12px;
  }

  &_item{
    width: auto;
  }

  &_link{
    display: block;
    padding: 0 12px;
    background: rgba(0, 0, 0, 0.05);    
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 16px;

    color: #030303;
    font-size: 14px;
    line-height: 30px;

    transition: 0.2s;

    &:hover{
      background: rgba(0,0,0,.1);
    }

    &.active{
      background: #030303;
      color: #fff;
    }
  }

  &_btn-box{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    
    z-index: 10;
    
    &.swiper-button-disabled{
      opacity: 0;
    }

    &::after{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100px;
      height: 100%;
      background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%);
      z-index: -1;
    }
  }

  &_prev{
    left: 12px;
  }
  
  &_next{
    right: 12px;
    &::after{
      left: auto;
      right: 0;
      background: -webkit-linear-gradient(right, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%);
    }
  }  

  &_btn{
    &.ico-prev{
      &::after{
        background-image: url(../images/ico/arw-left.png);
        background-size: auto 12px;
      }
    }
    &.ico-next{
      &::after{
        background-image: url(../images/ico/arw-right.png);
        background-size: auto 12px;
      }
    }
  }
}

.cont{  
  padding-top: 24px;
  margin: 0 16px;
}

.ytb-area{
  display: flex;
  flex-wrap: wrap;
}

.ytb{
  width: 16.66666%;
  flex: 0 0 16.66666%;
  padding: 0 8px;
  margin-bottom: 40px;

  @include pc-large{
    width: 20%;
    flex: 0 0 20%;
  }

  @include pc{
    width: 25%;
    flex: 0 0 25%;
  }

  @include tablet{
    width: 33.3333%;
    flex: 0 0 33.3333%;
  }

  @include mobile{
    width: 50%;
    flex: 0 0 50%;
  }

  @include mobile-small{
    width: 100%;
    flex: 0 0 100%;
  }

  &_link{
    display: block;
  }

  &_thumb{
    position: relative;
    img{
      width: 100%;
    }
  }

  &_play-time{
    position: absolute;
    bottom: 4px;
    right: 4px;
    
    padding: 3px 4px;
    background: rgba(0,0,0,.8);
    border-radius: 2px;

    color: #fff;
    font-size: 12px;
    line-height: 1;
  }

  &_play_hover{
    display: none;
    position: absolute;
    bottom: 4px;
    right: 4px;
    
    padding: 3px 4px;
    background: #000;
    border-radius: 2px;

    color: #fff;
    font-size: 12px;
    line-height: 20px;
  }
  &_thumb:hover &_play_hover{
    display: block;
  }

  &_info{
    display: flex;
  }

  &_profile{    
    margin-top: 12px;
    a{
      overflow: hidden;
      display: block;
      width: 36px;
      height: 36px;
      border-radius: 50%;
    }
    img{width: 100%;}
  }

  &_text{
    flex: 1;
    position: relative;
    padding-right: 24px;
    margin-left: 12px;
  }

  &_title{
    padding: 12px 0 6px;
    a{
      color: #030303;
      
      @include multi-ellipsis(14px, 20px, 2);
    }
  }

  &_uploader{
    a{
      color: #606060;
      font-size: 12px;
      line-height: 18px;
    }
  }

  &_view{
    a{
      color: #606060;
      font-size: 12px;
      line-height: 18px;
    }
  }

  &_btn-deteil_toggle{
    display: none;
    position: absolute;
    top: 4px;
    right: -12px;

    &::after{
      background-image: url(../images/ico/deteil.png);
      background-size: auto 15px;
    }
  }
  &:hover &_btn-deteil_toggle{
    display: block;
  }
}

body{
  height: 1000px;
}